@import "../general/general.css";

fieldset {
    padding: 10px 20px;
    border-radius: 8px;
    border-style: hidden;
}

legend{
    text-decoration: underline #F5B277;
}

input{
    border: none; 
    border-bottom: 2px solid #e46b00;
    font-family: sans-serif;
}

.login-window {
    background: rgba(255, 255, 255, 0.15); 
    
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    
    width: 400px;
    padding: 40px;
}

.body {
    display: flex;         
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    min-height: calc(100vh - 96px); 
    height: auto;
}
